/* Start Global Rules */
* {
	box-sizing: border-box !important;
	margin: 0px;
	padding: 0px;
}

*:focus {
	outline: none;	
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Outfit", sans-serif;
}

:root {
    --main-color: #C507D6;
    --secondary-color: #EFCDF2;
    --dark: #1b2538;
	--transition-delay: 0.4s;
	--section-padding: 80px;
}

.container {
	padding: 0px 16px;
	margin: auto;
}

@media (max-width: 992px) {
	.container {
		padding: 0px 48px;
	}
}

/*Start The Header*/
header .container {
	padding-top: 24px;
	padding-bottom: 24px;
}

header .logo-nav {
	gap: 64px;
}

header .logo-nav > nav {
	gap: 24px;
}

header .logo-nav > nav > a {
	transition: var(--transition-delay) ease color;
}

header .logo-nav > nav > a:hover {
	color: var(--main-color);
}

header .header-icons {
	gap: 16px;
}

header .header-icons > i {
	cursor: pointer;
}

header .header-icons > i:hover {
	color: var(--main-color);
}

@media (max-width: 769px) {
	header .logo-nav > nav {
		background-color: var(--secondary-color);
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		transform: translateY(100%);
		padding: 0px 48px;
	}

	header .logo-nav > nav > a {
		padding: 8px 0px;
	}
}
/*End The Header*/

/*Start The Hero Section*/
section.hero {
	height: calc(100vh - 80px);
	font-size: 16px;
	position: relative;
}

section.hero::after {
	content: "\f8cc";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	position: absolute;
	bottom: 48px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.45rem;
	animation: infinite 0.7s ease scroll-down alternate;
}

@keyframes scroll-down {
	0% {
		bottom: 48px;
	}
	100% {
		bottom: 32px;
	}
}

section.hero .container {
	height: 90%;
}

section.hero .text {
	max-width: 480px;
	gap: 16px;
}

section.hero .text > h1 {
	font-size: 3.052em;
	line-height: 1.2;
	color: var(--dark);
}

section.hero .text > p {
	font-size: 1.25em;
	color: #666;
	font-weight: 300;
}

section.hero .text > .search {
	margin-top: 24px;
	gap: 24px;
}

section.hero .text > .search > .search-bar {
	padding: 8px 16px;
	border: 1px solid #ddd;
}

section.hero .text > .search > .search-bar > input {
	font-weight: 300;
}

section.hero .text > .search button {
	background-color: var(--main-color);
	color: white;
	padding: 8px 16px;
	transition: ease all var(--transition-delay);
}

section.hero .text > .search button:hover {
	opacity: 0.5;
}

section.hero .img-div > img {
	max-width: 100%;
	height: auto;
}

@media (max-width: 996px) {
	section.hero .container {
		flex-direction: column-reverse;
		justify-content: center;
	}

	section.hero .text {
		width: 80%;
		text-align: center;
		align-items: center;
	}

	section.hero .img-div > img {
		max-width: 85%;
		margin: auto;
	}
}

@media (max-width: 769px) {
	section.hero {
		font-size: 14px;
		height: calc(100vh - 120px);
		margin-top: 40px;
	}

	section.hero .text {
		width: 100%;
	}

	section.hero .text > .search > .search-bar,
	section.hero .text > .search > button {
		padding: 16px 16px;
		font-size: 16px;
	}
}

@media (max-width: 600px) {
	section.hero {
		font-size: 12px;
	}
}
/*End The Hero Section*/

/*Start Categories Section*/
section.categories > h1 {
	font-size: 1.953rem;
	font-weight: 500;
	margin: 0px auto;
	width: fit-content;
}

section.categories .container {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(auto, 180px));
	justify-content: space-between;
	gap: 16px;
}

@media (max-width: 996px) {
	section.categories .container {
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(auto, 130px));
	}
} 

section.categories .container .category {
	background-color: #eee;
	border-radius: 10px;
	padding: 32px 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	transition: ease all var(--transition-delay);
}

section.categories .container .category:hover {
	border-bottom: 4px var(--main-color) solid;
	transform: translateY(-5px);
}

section.categories .container .category > span {
	font-size: 1.25rem;
	font-weight: 500;
	text-align: center;
}

section.categories .container .category > img {
	width: 80px;
	height: auto;
}
/*End Categories Section*/


